*, html {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: monospace;
}

body {
  width: 100%;
  display: block;
  background-color: #ecc4c4;
  color: rgb(17, 16, 16);
  font-size: 1.3rem;
}

.topnav {
  width: 100%;
  overflow: hidden;
  background-color: #aaa;
  position: fixed;
}

.topnav #nav-menu {
  display: none;
}

.topnav a {
  float: left;
  color: white;
  padding: 14px 3px;
  margin-left: 40px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a.nav-icon {
  float: right;
  padding: 14px 16px;
}

.topnav a:hover {
  color: black;
}

#underline {
  position: absolute;
  width: 0;
  background-color: pink;
  top: 0;
  left: 0;
  height: 4px;
  transition: 0.5s;
}

header {
  width: 100%;
  height: 320px;
  margin-bottom: 50px;
  font-size: 1.4em;
  text-align: center;
}

  #slider {
    width: 100%;
    height: 320px;
    padding-top: 70px;
    overflow: hidden;
    margin: 0 auto;
    background-image: url(/assets/images/head-img.jpg);
  }

.theme-btn {
  width: 100px;
  margin-bottom: 30px;
  margin-right: 20px;
  margin-bottom: 0;
  text-align: center;
}

#themeButton {
  height: 30px;
  cursor: pointer;
}

.profile {
  font-size: 0.7em;
  font-weight: 700;
  margin-top: 7px;
  margin-bottom: 25px;
}

.head-icons {
  margin-right: 15px;
}

.icon {
  color: rgb(17, 16, 16);
  text-decoration: none;
  padding-left: 20px;
  font-size: 20px;
}

.mystyle {
  color: white;
}

.box {
  background-color: #fff;
  width: 60%;
  height: auto;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px 60px;
}

h2 {
  margin-bottom: 30px;
  padding-bottom: 5px;
  border-bottom: 5px solid #8383f4;
  color: black;
}

.aboutMe {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

.aboutMe img {
  width: 180px;
  height: 200px;
}

.text {
  margin: 0 0 0 30px;
  font-size: 0.8em;
  color: black;
}

.text h1 {
  font-size: 1.6em;
  margin-bottom: 20px;
}

.text p {
  font-size: 1.4em;
  margin-bottom: 20px;
}

.pro-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.project {
  color: rgb(0, 0, 0);
  width: 90%;
  height: 100%;
}

.pro-image {
  width: 90%;
  height: 120px;
  padding-bottom: 10px;
}

.pro-title {
  font-weight: 700;
  margin-bottom: 15px;
}

.project-btn {
  display: flex;
  justify-content: center;
}

.pro-btn {
  text-decoration: none;
  padding: 7px 10px;
  margin: 0 5px;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  font-size: 12px;
  background-color: rgb(230, 107, 107);
  cursor: pointer;
}

.code {
  background-color: rgb(129, 121, 121);
}

.date {
  font-size: 0.7em;
}

.service-icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

input {
  width: 100%;
  height: 40px;
  font-size: 15px;
  border: 1px solid #f5f5f6;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 0 10px;
  background-color: rgb(234, 217, 217);
}

input::placeholder {
  font-size: 15px;
  color: rgb(162, 145, 145);
}

textarea {
  width: 100%;
  font-size: 15px;
  border: 1px solid #f5f5f6;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 10px;
  background-color: rgb(234, 217, 217);
}

textarea::placeholder {
  font-size: 15px;
  color: rgb(162, 145, 145);
}

button {
  padding: 10px 15px;
  border: 1px solid #fff;
  border-radius: 30px;
  color: #fff;
  font-size: 15px;
  background-color: rgb(230, 107, 107);
  cursor: pointer;
}

footer {
  padding: 50px;
  text-align: center;
}

.foot {
  margin-bottom: 20px;
  font-size: 0.7em;
}

.foot-icon {
  margin-right: 20px;
}

@media only screen and (max-width: 1650px) {
  .project-btn {
    flex-direction: column;
  }
}

@media only screen and (max-width: 900px) {
  .box {
    text-align: center;
  }
  .aboutMe {
    display: inline-block;
  }
  .aboutMe img {
    width: 90%;
    height: 80%;
    margin-bottom: 15px;
  }
  .text {
    margin: 0;
    color: black;
  }
  .project {
    padding-bottom: 50px;
  }
  .pro-box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .pro-image {
    width: 300px;
    height: 200px;
    padding-bottom: 10px;
  }
}